.LandingPage {
  background-color: #000000; /* Black */
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #272c30; /* Dark blue-grey */
  background-image: url(../public/img/github_social_image_no_logo.jpg);
  background-blend-mode: overlay; /* Blends the image with the background color */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff; /* White text color */
}

.Intro,
.CarouselSection,
.CTA {
  text-align: center;
  background-color: #333c46; /* Dark blue-grey */
  color: #bec5cb ; /* White text color */
}

.Features,
.WhyUse {
  text-align: center;
  background-color: #272c30; /* Dark blue-grey */
  color: #bec5cb; /* White text color */
}



.Footer {
  text-align: center;
  background-color: #000000; /* Black */
  color: #bec5cb; /* White text color */
  padding: 2em;
  margin-top: 2em;
}

.App-link {
  color: #61dafb;
  background-color: #18181a; /* Dark blue-grey */
  margin: 5px;
}

.row .col .card-body {
  background-color: #333c46; /* Light brown */
  color: #ecedee;
  --bs-card-border-color: none !important;
}


.CTA h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.CTA p {
  font-size: 16px;
  margin-bottom: 30px;
}

.App-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a90e2; /* Customize button background color */
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.App-link:hover {
  background-color: #0056b3; /* Change button background color on hover */
}

.icon {
  margin-left: 10px;
}

.Footer a {
  margin: 0 10px;
  color: #ffffff; /* Adjust icon color */
  font-size: 24px;
  transition: color 0.3s ease;
}

.Footer a:hover {
  color: #4a90e2; /* Change icon color on hover */
}
