.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  background-image: url(../public/img/github_social_image_no_logo.jpg);
  /* background-blend-mode: exclusion; */
  background-size: cover; /* This will ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Features {
  text-align: center; /* Center-align the features section */
  background-color: #f5f5f5; /* Grey background */
  color: #333; /* Adjusted text color */
}
.Screenshots {
  text-align: center; /* Center-align the features section */
  background-color: #f5f5f5; /* Grey background */
  color: #333; /* Adjusted text color */
}
.WhyUse {
  text-align: center; /* Center-align the features section */
  background-color: #f5f5f5; /* Grey background */
  color: #333; /* Adjusted text color */
}
.CTA {
  text-align: center; /* Center-align the features section */
  background-color: #f5f5f5; /* Grey background */
  color: #333; /* Adjusted text color */
}
.Footer {
  text-align: center; /* Center-align the features section */
  background-color: #000000; /* Grey background */
  color: #ffffff; /* Adjusted text color */
  padding: 2em;
  margin-top: 2em;
}

.App-link {
  /* margin-top: 13%; */
  color: #61dafb;
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.CTA {
  text-align: center;
  margin-top: 50px; /* Adjust margin as needed */
}

.CTA h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.CTA p {
  font-size: 16px;
  margin-bottom: 30px;
}

.App-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #709fd1; /* Customize button background color */
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.App-link:hover {
  background-color: #0056b3; /* Change button background color on hover */
}

.icon {
  margin-left: 10px;
}


.Footer {
  text-align: center;
  padding: 20px 0;
}

.Footer a {
  margin: 0 10px;
  color: #ffffff; /* Adjust icon color */
  font-size: 24px;
  transition: color 0.3s ease;
}

.Footer a:hover {
  color: #007bff; /* Change icon color on hover */
}
